*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 14px;
}

.flex-container{
    display: flex;
    width: 100%;
}

#topo{
    width: 100%;
    background-color: #ddd;
    justify-content: center;
    height: auto;
}

#topo a{
   text-align: center;
}

.imagem{
    width: 40%;
    height: auto;
}
/*Navegação*/
nav{
    width: 100%;
    background-color:#dc143c;
    height: auto;
    justify-content: center;
    
}

.menu{
    list-style: none;
    display: inline-flex;
    justify-content: space-around;
}

.menu li{
    position: relative;
    padding: 20px 30px;
}

.menu li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.menu li a:hover{
    color: #000;
    transition: 0.5s;
}

.menu li ul{
    display: none;
    position: absolute;
    list-style: none;
    top: 40px;
    left: 0;
    background-color: #dc143c;
}

.menu li:hover ul{
    display: block;
}

.menu li ul li{
    display: block;
    width: 170px;
}
/* conteúdo */
#conteudo{
    min-height: 700px;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;

}

#conteudo h1{
    text-align: center;
    padding-top: 2%;
}

#conteudo p, ol, h2, img{
    padding: 2%  5%;


}
/* Formulário */
form{
    align-self: center;
    padding: 2%;   
}
label, legend{
    font-size: 0.7em;
}
input, select, textarea{
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    
}
fieldset{
    width: 100%;
    border: none;
    padding: 40px;
    margin: auto;
    
}
button{
    width: 45%;
    padding: 10px;
        
}
.required::after{
    content: " *";
    color: red;

}

#rodape{
    justify-content: center;
    text-align: center;
    background-color: #555;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 1em;
    align-items: center;
    height: 80px;

}

video{
    width: 60%;
    height: auto;
    align-self: center;
}



