*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 14px;
}

.flex-container{
    display: flex;
    width: 100%;
}

.acessibilidade{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.atalhos, .links_access{
    list-style: none;
    display: inline-flex;
    padding: 5px;
}
.atalhos li, .links_access li{
    
    padding-left: 10px;
}

.links_access{

    margin-left: 60%;
}

#topo{
    width: 100%;
    background-color: #ddd;
    justify-content: center;
    height: auto;
}

#topo a{
   text-align: center;
}

.imagem{
    width: 40%;
    height: auto;
}
/*Navegação*/
nav{
    width: 100%;
    background-color:#dc143c;
    height: auto;
    justify-content: center;
    
}

.menu{
    list-style: none;
    display: inline-flex;
    justify-content: space-around;
}

.menu li{
    position: relative;
    padding: 20px 30px;
}

.menu li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.menu li a:hover{
    color: #000;
    transition: 0.5s;
}

.menu li ul{
    display: none;
    position: absolute;
    list-style: none;
    top: 40px;
    left: 0;
    background-color: #dc143c;
}

.menu li:hover ul{
    display: block;
}

.menu li ul li{
    display: block;
    width: 140px;
}
/*ocultar menu hamburguer*/

label[for="bt_menu"], #bt_menu{
    display: none;
}

/* conteúdo */
#conteudo{
    min-height: 800px;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;

}

h1{
    text-align: center;
     
}
section{
    padding: 2% 10%;
}

/* Formulário */
form{
    align-self: center;
    padding: 2%;   
}
label, legend{
    font-size: 0.7em;
}
input, select, textarea{
    padding: 10px;
    border-radius: 15px;
    width: 80%;
    
}
fieldset{
    width: 70%;
    border: none;
    /*padding: 40px;*/
    margin: auto;
    
}
button{
    width: 35%;
    padding: 10px;
        
}
.required::after{
    content: " *";
    color: red;

}

#rodape{
    justify-content: center;
    text-align: center;
    background-color: #555;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 1em;
    align-items: center;
    height: 80px;

}

video{
    width: 60%;
    height: auto;
    align-self: center;
}

/* media queries barra de acessibilidade */

@media screen and (max-width: 1680px){
    .links_access{

        margin-left: 45%;
    }
}
@media screen and (max-width: 1345px){
    .links_access{

        margin-left: 40%;
    }
}
@media screen and (max-width: 1230px){
    .links_access{

        margin-left: 30%;
    }
}
@media screen and (max-width: 1024px){
    .links_access{

        margin-left: 25%;
    }
}
@media screen and (max-width: 850px){

    .atalhos{
        display: none;
    }
    .links_access{
        margin: auto;
    }
}

/* media queries menu responsivo */

@media screen and (max-width: 740px){

    nav{
        justify-content: left;
    }
    .menu{
        display: none;
    }

    label[for="bt_menu"]{
        display: block;
        margin: 2%;
    }

    #bt_menu:checked ~ .menu{
        display: block;
       
    }

    .menu li{
        padding: 10% 1px;
        
    }
    .menu li ul{
        position:sticky;
    }
    
     
    .imagem{
        width: 60%;
        height: auto;
    }
    
  
    video{
        width: 100%;
        height: auto;
        align-self: center;
    }
}



