*{margin: 0; padding: 0;}
body{
    font-size: 14px;
}
/*barra de acessibilidade*/
#acessibilidade{
    width: 100%;
    height: auto;
    background-color: #fff;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}
#atalhos{
    list-style: none;
    padding-left: 2%;
}
#atalhos li{
    display: inline;
}
#pgacess{
    padding-left: 40%;
}
.contraste, .fonte{
    padding-left: 2%;
}

#topo{
    width: 100%;
    height: auto;
    background-color: #dedede;
}
#logo{
    width: 20%;
    height: auto;
}
/*início da aplicação de estilo no menu*/
nav{
    width: 100%;
    height: auto;
    background-color: #b00000;
    float: left;
}
#menu{
   list-style: none;
   border: 1px solid #fff;
   padding-left: 4%;
}
#menu li{
    position: relative;
    float: left;
    border-right: 1px solid #fff;
}
#menu li a{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}
#menu li a:hover{
    background-color: #fff;
    color: #b00000;
    transition: 0.7s;
}

/*início submenu*/
#menu li ul{
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #b00000;
    display: none;
}
#menu li:hover ul{ /*exibir o submenu*/
    display: block;
}
#menu li ul li{
    border: 1px solid #fff;
    display: block;
    width: 170px;
}

/*fim menu*/
/*breadcrumbs*/
.breadcrumb{
    padding-left: 2%;
    list-style: none;
}
.breadcrumb li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: #000;
}

.breadcrumb li+li:before{
    content: "/\00a0";
    padding: 6px;
    color: #000;
}

.breadcrumb li a{
    color: #3e3e3e;
}
.breadcrumb li a:hover{
    color: #000;
}

/* fim breadcrumb */

#conteudo{
    width: 100%;
    min-height: 600px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: justify;
    background-color: #fff;
}
#conteudo h1{
    text-align: center;
}
section{
    padding: 5%;
}
#conteudo p{
    padding: 0.2% 5%;
}
#imagem{
    width: 40%;
    height: auto;
}
form{
    padding-left: 4%;
    padding-right: 4%;
}
label, legend{
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 1em;
    
}

input, select{
    width: 70%;
    height: auto;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
fieldset{
    border: 1px solid #b00000;
    border-radius: 15px;
    padding: 2%;
}
textarea{
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    padding: 15px;
}
input[type=submit]{
    width: 10%;
    height: auto;
    margin-left: 40%;
}
input[type=reset]{
    width: 10%;
    height: auto;
       
}
.required:after{
    content: " *";
    color: red;

}
#rodape{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: #fff;
    background-color: #3e3e3e;
    padding-top: 1%;
    text-align: center;
    width: 100%;
    height: 60px;
}
video{
    width: 60%;
    height: auto;
}