body{
   background-image:url(../imagem/bgcss.jpg); 
}
#topo{
    width: 100%;
    height: auto;
}
#topo_css{
    width: 100%;
    height: auto;
}
#conteudo{
    width: 100%;
    min-height: 700px;

}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.paragrafo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: justify;
}
#rodape{
    width: 100%;
    height: 80px;
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #FFF;
    text-align: center;
    padding-top: 2%;
}
