*{margin: 0; padding: 0;}

body{
    background-image: url(../imagem/music.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 12px;
    overflow-x: hidden;
}
#acessibilidade{
    width: 100%;
    height: auto;
    background-color: #FFF;
    margin: auto;
}
#atalhos{
	font-family: Verdana,"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans","sans-serif";
	font-size: 1em;
	list-style: none;
	padding-right: 3%;
    text-align: right;
	
}
#atalhos li{
	display: inline;
}
#atalhos li a{
	
	color: #000;
}

#atalhos li a:hover{
	color: #2428F3;
}
#topo{
    width: 100%;
    height: auto;
    background-color: rgba(0,0,0,0.60);
}

#imagem{
    max-width: 60%;
    height: auto;
}

nav{
    width: 100%;
    height: auto;
    background-color: rgba(0,0,0,0.60);
    padding-left: 2%;
    float: left;
}
#menu{
    list-style: none;
    border: 1px solid #c0c0c0;
    background-color: rgba(0,0,0,0.60);
    float: left;
}

#menu li{
    position: relative;
    float: left;
    border-right: 1px solid #c0c0c0;
}
#menu li a{
    font-family: Verdana, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "sans-serif";
    color: #FFF;
    text-decoration:none;
    padding: 5px 10px;
    display: block;
}

#menu li a:hover{
    background: #FFF;
    color: #000;
    
}
#menu li ul{
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #333;
    display: none;    
}

#menu li:hover ul, #menu li.over ul{display: block;}

#menu li ul li{
    border:1px solid #c0c0c0; 
    display: block;
    width: 150px;
}

#conteudo{
    font-family: Verdana, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "sans-serif";
    color: #FFF;
    text-align: justify;
    width: 100%;
    min-height: 700px;
    font-size: 1.2em;
    background-color: rgba(0,0,0,0.60);
    float: left;
}
section{
    padding: 3%;
}
h1{
    font-family: Verdana, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "sans-serif";
    color: #FFF;
    font-size: 2em;
}
#rodape{
    width: 100%;
    height: auto;
    font-family: Verdana, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "sans-serif";
    color: #FFF;
    font-size: 1em;
    text-align: center;
    float: left;
    background-color: rgba(0,0,0,0.60);
    padding-bottom: 2%;
}
.video{
    width: 30%;
    height: auto;
}