#topo{
    width: 100%;
    height: auto;
    font-family: Verdana, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "sans-serif";
    color: #000;
}

#conteudo{
    width: 100%;
    min-height: 800px;
}
input, select{
    width: 40%;
    height: 40px;
    background-color: #DCDCDC;
    color: #000;
    border-radius: 15px;
    
}
label,legend{
    font-family: Verdana, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "sans-serif";
    color: #000;
    font-size: 14px;
}

fieldset{
    border-color: #DCDCDC;
    border-radius: 15px;
}

input[type=submit]{
    width: 15%;
    height: 40px;
    background-color: chartreuse;
}
input[type=reset]{
    width: 15%;
    height: 40px;
    background-color: chartreuse;
}
input[type=radio]{
    width: 6%;
    height: auto;
   
}
.required:after{
    content: " *";
    color: red;
}